html {
    height: auto;
    width: auto;
    margin: 0 auto;
}

::selection {
    background-color: #dbdbdb;
}

body {
    color: none;
    font-size: 40px;
    margin: 0px auto;
    overflow: hidden;
}

@-webkit-keyframes fadein {
        from { opacity:0; }
        to   { opacity:1; }
}

.landing {
    position: absolute;
    padding-top: 9%;
    padding-left: 23%;
    width: auto;
    height: auto;
    margin: 0;
    
    -webkit-animation: fadein 1.5s;
    -webkit-animation-timing-function: ease-in;
}

h1 {
    font-family: 'Lato', serif;
    font-size: 230%;
    font-weight: 700;
    text-align: left;
    color: #444;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 70%;
    font-weight: 700;
    text-align: left;
    color: #51caf2;
    margin-top: 1.5%;
    margin-bottom: 0%;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 70%;
    font-weight: 700;
    text-align: center;
    color: #444;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 47%;
    font-weight: 500;
    text-align: left;
    color: #666;
    margin: 0;
    width: 70%;
}

p#welcome {
    font-family: 'Lato', sans-serif;
    font-size: 47%;
    font-weight: 500;
    text-align: left;
    color: #666;
    margin: 0;
    width: 70%;
}

p#modal {
    font-family: 'Lato', sans-serif;
    font-size: 57%;
    font-weight: 500;
    text-align: left;
    color: #444;
    margin-top: 2%;
    width: 70%;
}

a {
    font-family: 'Lato', sans-serif;
    color: #51caf2;
    text-decoration: none;
    text-align: left;
}

a#button {
    text-decoration: none;
    padding-right: 0.7%;
}

a:hover {
    text-decoration: underline;
}

.nav {
    position: absolute;
    padding-top: 10px;
    width: 330px;
    height: 0;
    display: inline-block;
    
    -webkit-animation: fadein 1.5s;
    -webkit-animation-timing-function: ease-in;
}

.nav-btn-1 {
    border: 1px #376180;
    border-radius: 0px;
    background-color: #376180;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-top: 3.2%;
    
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.6;
    word-wrap: break-word;
}

.nav-btn-2 {
    border: 1px #376180;
    border-radius: 0px;
    background-color: #376180;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-top: 3.2%;
    
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.6;
}

.nav-btn-1:hover, .nav-btn-2:hover {
    background-color: #51caf2;
    letter-spacing: 1px;
    font-weight: 800;
    opacity: 1.0;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}


/*Particles*/
/* ---- particles.js container ---- */

#particles_js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
    -webkit-animation: fadein 1.5s;
    -webkit-animation-timing-function: ease-in;
}


/*Modals*/

.modal {
    position: relative;
    padding-left: 23%;
    width: auto;
    height: auto;
}

#animatedModal {
    background-color: #f6f6f6;
}

div#close-modal a {
    position: static;
    opacity: 0.7;
}

div#close-modal a:hover {
    opacity: 1.0;   
}

div#modal-content {
    padding-left: 10px;
    padding right: 10px;
}


/*Portfolio Cards*/

.card {
    display: inline-grid;
    position: relative;
    float: left;
    padding-bottom: 25%;
    padding-right: 20px;
    width: 35%;
    height: 120px;
}

.card_front {
    background-color: #fff;
}

.card_back {
    background-color: #fff;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card_front, .card_back {
    position: absolute;
    width: auto;
    height: auto;
}
    
.card_front, .card_back {    
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
}

/* --- card hover effect --- */
.card:hover .card_front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card:hover .card_back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}
